@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');

@font-face {
    font-family: 'Hellbone';
    src: url('./Hellbone-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bigshot One', serif;
    color: rgb(218, 218, 218);
}

body {
    background: url('./fundo-escuro-estilo-grunge.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

header {
    font-size: 3em;
    text-align: center;
    padding: 50px 10% 80px 10%;
    background-color: #000000;
    color: #800000;
}

section, body > footer {
    background-color: rgba(0, 0, 0, 0.87);
    margin: 20px 10%;
    border-radius: 20px;
    gap: 50px;
    padding: 40px 0 60px;
}

section {
    min-height: 300px;
}

h1 {
    font-family: Hellbone;
    opacity: 1;
    color: #c40000;
}
h2 {
    font-size: 2em;
}

nav > ul {
    display: flex;
    padding: 15px 10%;
    justify-content: space-around;
    background-color: #000000;
}

nav a {
    padding: 15px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #ff0000b6;
    font-size: 1.2em;
}

nav li {
    list-style: none;
    text-decoration: none;
    color: #242424;
}

  
nav ul li a:hover {
    color: white;
    text-shadow: 2px 2px 5px #ff0000b6;
    transition-duration: 0.3s;
}

blockquote > footer {
    margin-top: 20px;
}

#artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#artigos h2 {
    width: 100%;
    text-align: center;
}

#artigos article {
    width: 30%;
    margin: 0 40px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

#tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabela table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 3px solid white;
}

#tabela td, #tabela th {
    padding: 15px;
}
#tabela th {
    color: #ff0000b6;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#cards li {
    margin-left: 20px;
}
#cards h3 {
    text-align: center;
}

#cards > div {
    width: 250px;
    margin: 0 20px;
}

#depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#depoimentos h2 {
    width: 100%;
    text-align: center;
}

#depoimentos blockquote {
    width: 30%;
    margin: 0 50px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato form {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

#contato input, #contato textarea {
    margin: 8px 0 ;
}

#contato input, #contato textarea {
    height: 20px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
}

#contato textarea {
    height: 50px;
}

#contato input[type="submit"] {
    background: #9103039d;
    height: 40px;
    border: none;
}

body > footer {
    width: 100%;
    background-color: #000000;
    padding: 30px 0;
    margin: 0;
    text-align: center;
    border-radius: 0;
}